<ion-view name="content"  id="aboutContent" ng-init="runAdverts()">
    <ion-nav-bar class="bar-clear">
      <ion-nav-buttons side="left">
        <button class="button button-clear" style="font-size: 1.5em; font-family: KlavikaReg;" ui-sref="app.home">got it</button>
      </ion-nav-buttons>
     </ion-nav-bar>
     <ion-content class="has-header padding">


    <div align="center">
     <img src="img/ballPic.png" style="max-height: 50px; max-width: 50px; display: inline-block; margin: 0px; vertical-align: middle;">
      <h2 id="chigTitle">
        <strong>Spy2 Mpama</strong>
      </h2>
    </div>

     <p style=" margin-top: 10px; color: white;">

      Spy2 Mpama (1.0.0) is a fun, easy to play soccer-based game. With a notable diversion from it's namesake, it was meant to capture the excitement of the original game. The real spy2 mpama involves a group of players passing a soccer ball around trying to steer it to go through an opponent's legs. If one succeeds in doing this, everybody gets the right to slap the loser. Fortunately this version has no violence <i class="emoji"></i>. Enjoy.
    </p><br>

    <div style="color: white; text-align: center;" align="center">=========== Credits ===========</div><br>

    <p style=" margin-top: 0px;color: white;">
    <strong style="font-size: 1.1em;" class="calm">Mpho "Seiku" Kutoane </strong> : <br>
     Programming, Graphics Design, Physics & Digital Simulation, Gaming AI, Release Engineering. <br>
    <span style="color:  powderblue;">mphothedev@gmail.com</span><br>

   <div style="color: white; text-align: center;" align="center">========== Disclaimer ==========</div><br>
    <p style=" margin-top: 0px; color: white;">

    The developer has taken extensive care in the preparation of this app, but makes no expressed or implied warranty of any kind and assumes no responsibility for errors or omissions. No liability is assumed for incidental or consequential damages in connection with or arising out of the use of the information or programs contained herein. <br>
    </p>
     </ion-content >
</ion-view>

<style type="text/css">
  #aboutContent{
    background-image: url('img/cand2.jpg');
    /*background-color: yellow;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    font-family: KlavikaReg;
    font-size: 1.1em;
  }

  #chigTitle{
    color: white;
    font-family: KlavikaReg;
    display: inline-block;
  }

  .emoji{
    min-height: 1.1em;
    min-width: 1.1em;

    background-image: url('img/moj_13.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
</style>